@tailwind base;
@tailwind components;
@tailwind utilities;

.element {
  padding: 0px 100px 0px 100px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.slider-container {
  width: 100%;
}

.slick-slide {
  padding: 0 8px;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button {
  font-size: 10px;
  color: #fff;
  background-color: #999;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
  background-color: #333;
}
